@inherits MessagesHistoryBase
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))

<MudGrid Spacing="1">
    @if (activeChats is { Count: > 0 })
    {
        @foreach (var chat in activeChats)
        {
            <MudItem xs="12">
                <button @onclick="e => OnClickChat(chat.Id)">
                    <MudPaper Width="100%" Elevation="6" Class="pa-3 rounded-lg">
                        <MudGrid>
                            <MudItem Class="align-center justify-center" xs="2" sm="2" md="2">
                                <MudAvatar Color="Color.Secondary">X</MudAvatar>
                            </MudItem>
                            <MudItem xs="10" sm="10" md="10">
                                <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="1" Row="false">
                                    @foreach (var user in chat.ChatUsers)
                                    {
                                        <MudText Typo="Typo.body1">@user.UserId</MudText>
                                    }
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </button>
            </MudItem>
        }
    }
</MudGrid>