.custom-container {
    background-image: url('/img/mayur-arvind-W8a8p-d8hZU-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.text-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.font-logo {
    font-family: "Reddit Mono", monospace !important;
    font-optical-sizing: auto !important;
    font-weight: 900 !important;
    font-style: normal !important;
}

/* Animação de fade-in e slide-in */
@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSlideRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.logo-animation {
    animation: fadeInSlideDown 1s ease-in-out;
}

.container-animation {
    animation: fadeInSlideRight 1.8s ease-in-out;
}

