@inherits StartNewChatDialogBase
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))

<MudDialog Class="logo-animation" Style="max-height: 500px !important;">
    <DialogContent>
        <MudGrid Spacing="3">
            <MudItem xs="12">
                <MudTextField T="string"
                              Class="grey lighten-4 rounded-xl"
                              Margin="Margin.Dense"
                              Placeholder="Search contact"
                              Variant="Variant.Outlined"
                              Adornment="Adornment.Start"
                              AdornmentColor="Color.Primary"
                              AdornmentIcon="@Icons.Material.Filled.Search" />
            </MudItem>

            <MudItem xs="12">
                <MudGrid Spacing="3">
                    @if (Users is { Count: > 0 })
                    {
                        @foreach (var user in Users)
                        {
                            <MudItem xs="12">
                                <button style="width:100%" @onclick="e => StartChat(user)">

                                    <MudPaper Width="100%" Elevation="3" Class="pa-3 rounded-lg d-flex align-center justify-center">

                                        <MudGrid Spacing="3" Style="width: 100%" Justify="Justify.Center">

                                            <MudItem Class="d-flex align-center" xs="2" sm="2" md="2">
                                                <MudAvatar Color="Color.Primary"><b>@user.Name[0]</b></MudAvatar>
                                            </MudItem>

                                            <MudItem Class="d-flex align-center" xs="10" sm="10" md="10">
                                                <MudText Class="black-text" Typo="Typo.h6" Align="Align.Start"><b>@user.Name</b></MudText>
                                            </MudItem>

                                        </MudGrid>

                                    </MudPaper>
                                </button>
                            </MudItem>
                        }
                    }
                </MudGrid>
            </MudItem>
        </MudGrid>
    </DialogContent>
</MudDialog>